@tailwind base;
@tailwind components;
@tailwind utilities;


@theme inline {
    --color-primary: #1a8917;
    --color-secondary: #2d2d2d;
    --color-accent: #ffc017;
    --color-paragraph: #292929;
}

body {
    @apply bg-neutral-50;



}

@layer base {
    .custom-input {
        @apply border-gray-300 focus:border-primary focus:ring-2 focus:ring-primary rounded-lg transition;
    }

    .btn-primary {
        @apply bg-primary text-white font-medium rounded-full px-6 py-3 hover:bg-[#156612] transition-colors;
    }
    
}


.scroll-x-padding {
    scroll-padding-left: 1rem;
  }
  
  @media (min-width: 640px) {
    .scroll-x-padding {
      scroll-padding-left: 0;
    }
  }
  


.trix-button-group--file-tools {
    display: none !important;
}


.transition-colors {
    transition: all 0.2s ease-in-out;
}

.hover\:bg-gray-50:hover {
    background-color: rgba(241, 245, 249, 0.5);
}

.prose {
    h2, h3 {
        @apply font-serif text-secondary;
    }
    
    blockquote {
        @apply border-l-4 border-primary/50 pl-4 italic text-gray-600;
    }
    
    img {
        @apply rounded-lg shadow-sm;
    }
}

.like-button.active svg {
    fill: #1a8917;
    stroke: #1a8917;
    animation: like 0.4s ease-in-out;
}

@keyframes like {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}
